<div class="container">
    <h1>To-Do Application</h1>
    <hr>
    <form #taskForm="ngForm" (ngSubmit)="onSubmitTask(taskForm)">
        <div class="form-group">
          <label for="inputTask">Task</label>
          <input type="text" class="form-control" id="inputTask" placeholder="Enter task"  name="inputTask" ngModel required>
          <small *ngIf="taskForm.dirty && taskForm.invalid" id="errorMessage" class="form-text text-danger">Required field</small>
        </div>
        <button id="submitButton" type="submit" class="btn btn-primary" [disabled]="taskForm.invalid">Submit</button>
      </form>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Task</th>
            <th scope="col">Completed</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of taskArray ; index as i">
            <td>{{t.taskName}}</td>
            <td><input (change)="onCheck(i)" id="myCheckbox" type="checkbox"></td>
            <td><button type="button" class="btn btn-sm btn-danger" (click)="onDelete(i)">Delete</button></td>
          </tr>
        </tbody>
        
      </table>
      
</div>